.gitconfig
*.un~
untracked/*
_*
.DS*
"Icon\r"
.swp
.README.md.swp
Xcode/SvijaSync.xcodeproj/xcuserdata/*
*.xcuserstate
*danger.json
Xcode/SvijaSync.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/*
